h1 {
    color: darkred;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.8;
}

blockquote {
    font-style: italic;
}

.post-content {
    background-color: lightpink;
    padding: 25px;
}

