h1 {
    font-size: 50px;
    color: rebeccapurple;
}

p {
    font-size: 30px;
    line-height: 50px;
}

.about-me {
    padding: 40px;
    background-color: lightcoral;
}

#profile-pic {
    width: 300px;
    border-radius: 40px;
}